@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom global overrides */
body {
  @apply bg-gray-50 text-gray-900;
}
.border-gray-300 {
  --tw-border-opacity: 1;
  border-color: rgb(0, 0, 0);
  border: solid 1px;
}